<div class="panel panel-default">
	<div class="panel-heading">
		Create your NatiVos Listing
	</div>
	<div class="panel-body">
		<div class="container">

			<%= simple_form_for @listing, :html => { multipart: true } do |f| %>

				<div class="row">
					<div class="col-md-4 select">
						<div class="form-group">
							<label>Choose your Listing Type</label>
							<%= f.select :listing_type, [["Tour","Tour"], ["Activity","Activity"]], id: "listing_type",prompt: "Select...", class: "form-control" %>
						</div>
					</div>

					<div class="col-md-4 select">
						<div class="form-group">
							<label>Choose your Experience Type</label>
							<%= f.select :experience_type, [["City/Histotical Tour","City/Histotical Tour"], ["Pub Tour","Pub Tour"], ["Craft Beer Tour","Craft Beer Tour"], ["Wineries Tour","Wineries Tour"],["Star Gazing","Star Gazing"], ["Mountain Bike","Mountain Bike"], ["Snowboarding","Snowboarding"], ["Skiing","Skiing"], ["Fitness","Fitness"], ["Yoga","Yoga"], ["Golf","Golf"], ["Surf","Surf"], ["Kayak","Kayak"], ["Paddle Board","Paddle Board"], ["Snorkeling","Snorkeling"]],prompt: "Select...", class: "form-control" %>
						</div>
					</div>

					<div class="col-md-4 select">
						<div class="form-group">
							<div class="form-group">
								<label>Your Expert Level</label>
								<%= f.select :expert_level, [["Rookie",1], ["Advanced Rookie",2], ["I know stuff",3], ["I'm a Expert NatiVo",4]], prompt: "Select...", class: "form-control" %>
							</div>

						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 select">
						<label>How many people can join you?</label>
						<%= f.select :accommodate, [["1",1], ["2",2], ["3",3], ["4",4], ["5",5], ["6+",6]], prompt: "Select...", class: "form-control" %>
					</div>

					<div class="col-md-6 select">
						<div class="form-group">
							<label>How fit you need to be for this activity/tour?</label>
							<%= f.select :fitness_level, [["Not fit at all",1], ["A little fit",2], ["Somewhat fit",3], ["Fit to Super fit",4]], prompt: "Select...", class: "form-control" %>
						</div>
					</div>
				</div>



				<div class="row">
					<div class="form-group">
						<label>Listing name</label>
						<%= f.text_field :listing_name, placeholder: "Be clear and descriptive with your NatiVos listing name so everybody can find it!", class: "form-control" %>
					</div>
				</div>

				<div class="row">
					<div class="form-group">
						<label>Summary</label>
						<%= f.text_area :summary, rows: 5, placeholder: "Tell about your listing, which time and dates are you available, what are you offering and why they should book this NatiVos experience with you!", class: "form-control" %>
					</div>
				</div>

				<div class="row">
					<div class="form-group">
						<label>Where does your listing will take place?(All fields mandatory, so people can find you nice and easily!)</label>
						<%= f.text_field :street, placeholder: "Street", class: "form-control" %><br>
            <%= f.text_field :suburb, placeholder: "Suburb", class: "form-control" %><br>
            <%= f.text_field :city, placeholder: "City", class: "form-control" %><br>
            <%= f.text_field :state, placeholder: "State", class: "form-control" %><br>
            <%= f.text_field :post_code, placeholder: "Post Code", class: "form-control" %><br>
            <%= f.country_select :country, priority_countries: ["AU", "US", "BR"], class: "form-control" %><br>
					</div>
				</div>
				<br>
				<hr>
				<label>Do you have any extra gear or equipment you can offer?</label>
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<%= f.check_box :is_car %> Car/Van
						</div>
						<div class="form-group">
							<%= f.check_box :is_mtb %> Mountain Bike
						</div>
						<div class="form-group">
							<%= f.check_box :is_snb %> Snowboard
						</div>
					</div>

          <div class="row">
  					<div class="col-md-3">
  						<div class="form-group">
  							<%= f.check_box :is_ski %> Skis
  						</div>
  						<div class="form-group">
  							<%= f.check_box :is_golf %> Golf Clubs
  						</div>
  						<div class="form-group">
  							<%= f.check_box :is_fitness %> Fitness Gear
  						</div>
  					</div>

          <div class="row">
  					<div class="col-md-3">
  						<div class="form-group">
  							<%= f.check_box :is_yoga %> Yoga Gear
  						</div>
  						<div class="form-group">
  							<%= f.check_box :is_surf %> Surf Board
  						</div>
  						<div class="form-group">
  							<%= f.check_box :is_kayak %> Kayak
  						</div>
  					</div>
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<%= f.check_box :is_paddle %> Paddle Board
						</div>

						<div class="form-group">
							<%= f.check_box :is_snorkel %> Snorkeling Gear
						</div>

						<div class="form-group">
							<%= f.check_box :is_star %> Star Gazing Gear
						</div>


					</div>
				</div>
			</div>
			<hr>

			<div class="row">
				 <div class="col-md-4">
					<div class="form-group">
						<%= f.check_box :active %>Make your NatiVos Listing Active!
					</div>
				 </div>
				</div>
			<br>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>How much do you want to charge people?</label>

							<div class="input-group">
								<div class="input-group-addon"><i class="fa fa-money fa-lg"></i> </div>
								<%= f.text_field :price, placeholder: "eg. $100", class: "form-control" %>
							</div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Upload awesome pictures to your listing</label>
							<span class="btn btn-default btn-file">
							    <i class="fa fa-cloud-upload fa-lg"></i> Upload Photos
							    <%= file_field_tag "images[]", type: :file, multiple: true, class: "form-control" %>
							</span>
						</div>
					</div>
				</div>

				<div id="photos"><%= render 'photos/list' %></div>

				<hr>
				<div class="row">
					<div class="vertical-center">
					<div class="col-md-12">
						<div class="actions">
							<label>Now, save your listing and you're done!</label>
							<%= f.submit "Save", class: "btn btn-default" %>
						</div>
					</div>
				</div>
			</div>

			<% end %>

		</div>
	</div>
</div>
